<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723894435181-4slo7k1o7did9gavb6den16otc2cqan2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723894435181-4slo7k1o7did9gavb6den16otc2cqan2</string>
	<key>API_KEY</key>
	<string>AIzaSyCRk2rdLmNT23h03NglH0ZUtk3URSX-MUM</string>
	<key>GCM_SENDER_ID</key>
	<string>723894435181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.triveBysc.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>trive-4e1b7</string>
	<key>STORAGE_BUCKET</key>
	<string>trive-4e1b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723894435181:ios:63d751ac21b5798456ae64</string>
</dict>
</plist>